html {
    border-left: solid 5px rgb(141, 141, 141);
}

body{
    min-height: 100vh;
    font-family:sans-serif;
    max-width: 1000px;
    margin:auto;
}

header, main, footer {
    padding: 1rem 2rem 1rem 2rem;
}

h1 {
    color:tomato;
    font-weight: lighter;
    font-size: 60px;
    margin: 5px auto;
}

.subtitle {
    font-weight: lighter;
    margin: 5px auto;
    margin-bottom: 30px;
}

img {
    width:100%;
}

ul {
    padding: 0px;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-nav {
    margin: 20px auto;
}

.top-nav > ul > li > a {
    text-decoration: underline;
    color:rgb(141, 141, 141);
    font-size:20px;
    font-weight: lighter;
}

.bottom-nav > ul > li > a {
    text-decoration: none;
    color: tomato;
}

.blog-title {
    font-size: 42px;
    font-weight: lighter;
    margin: 15px auto;
}

aside {
    text-align: right;
}

aside > a {
    text-decoration: none;
    font-weight: bold;
    color: tomato;
    font-size: 16px;
}

article {
    margin-bottom: 4rem;
    border-bottom: solid 1px lightgray;
    padding-bottom: 2rem;
}

time {
    color: rgb(109, 109, 109);
    font-weight:lighter;
    font-size:26px;
    margin-bottom: 10px;
}

p::first-letter {
    font-size: 100px;
    font-weight: lighter;
    color: rgb(109, 109, 109);
    padding-right:20px;
    float: left;
    line-height: 100%;
}

p {
    color: rgb(56, 80, 79);
    font-size: 17px;
    line-height: 1.65;
    font-weight: lighter;
}

.copyright {
    color:rgb(141, 141, 141);
}